/* Register.module.css */

.container {
    margin-top: 5em;
    padding: 2em;
    background: linear-gradient(to bottom, #1e1e1e, #000000); /* Gradient from grey to black */
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.typography {
    text-align: center;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1em;
    font-family: 'Anton', sans-serif;
}

.textField {
    margin-top: 1.5em;
}

.textField fieldset {
    border-color: #555 !important;
    transition: border-color 0.3s ease;
    border-radius: 0.5em;
}

.textField:hover fieldset {
    border-color: #777 !important;
}

.textField input {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.textField label {
    color: #aaa;
    font-family: 'Roboto', sans-serif;
}

.button {
    margin-top: 2em;
    background: #4285f4 !important;
    color: #fff !important;
    transition: background 0.3s ease;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5em;
}

.button:hover {
    background: #357ae8 !important;
}

.alert {
    margin-top: 1em;
    transition: opacity 0.3s ease;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5em;
}

.errorAlert {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.successAlert {
    background: #d4edda;
    padding-top: "1em";
    border: 1px solid #c3e6cb;
}
